<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NSURLConnect.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CED1C5571D867FFB008B3E67</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CED1C5701D867FFB008B3E67</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CED1C57B1D867FFB008B3E67</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
