<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UITextField.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CE4990DE1D8B497900DDC97B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE4990F71D8B497A00DDC97B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE4991021D8B497A00DDC97B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
