<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>pickerView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CEA357C01D8906BB0077CFBF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CEA357D91D8906BB0077CFBF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CEA357E41D8906BB0077CFBF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
